@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*,
*:before,
*:after,
body,
div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.play {
    background: rgb(97,63,251);
    background: linear-gradient(90deg, rgba(97,63,251,1) 0%, rgba(70,233,252,1) 100%);
}

.game {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(5, 100px);
    gap: 0.5rem;
}

.cell {
    width: 100px;
    height: 100px;
    font-size: 2rem;
    line-height: 100px;
    border-radius: 5px;
    text-align: center;
    position: relative;
    font-weight: bolder;
    background: #022869;
    border: 1px solid #fff;
}

.cell-one {
    color: greenyellow;
}

.cell-two {
    color: yellow;
}

.cell-three {
    color: orange;
}

.cell-four {
    color: tomato;
}

.cell-five {
    color: orangered;
}

.hidden {
    background: #001233;
}

.is-empty:not(.hidden) {
    background-color: #022561;
}

.bomb {
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.flag {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background-color: #adecea;
}

.is-flag,
.is-mine {
    color: #c5302e;
}

.you-lost .is-mine.is-clicked::after {
    inset: 0;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    background-color: rgba(255, 0, 0, 0.5);
}

.you-lost .is-mine.is-flag::after {
    inset: 0;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    background-color: rgba(0, 255, 0, 0.5);
}

.modal {
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #121212cc;
}

.modal-content {
    font-size: 2.5rem;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Press Start 2P', cursive;
}

.modal-content.modal-start {
    width: 500px;
    height: 200px;
    color: #fff;
    background-color: #fa6401;
    text-transform: uppercase;
    box-shadow: inset 2px -5px 4px 5px #fa5001;
}

.modal-win {
    width: 500px;
    height: 200px;
    color: #fff;
    background-color: #fca849;
    text-transform: uppercase;
    box-shadow: inset 2px -5px 4px 5px #fca849;
}

.modal-content.modal-lost {
    width: 500px;
    height: 200px;
    color: #fff;
    background-color: #c5302e;
    text-transform: uppercase;
    box-shadow: inset 0px -5px 2px 5px #8C2022;
}

.btn {
    padding: 20px;
    font-size: 2rem;
    margin-top: 15px;
    border: none;
    color: white;
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: 'Press Start 2P';
}

.menu {
    background-color: #fca849;
    box-shadow: inset 0px -5px 2px 5px #fc8b49;
}

.start {
    background-color: #fa6401;
    box-shadow: inset 0px -5px 2px 5px #fa5001;
}

.restart {
    background-color: #c5302e;
    box-shadow: inset 0px -5px 2px 5px #8C2022;
}